/* font-family:'Inter', sans-serif; */
:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;

  --title: #313131;
  --text: #B6B6B6;
  
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F3F5F7;
}

header{
  display: flex;
  justify-content: center;
  /* align-items: center; */

  height: 250px;
  background: var(--linear)
}

.container{
  height: auto;
  width: 900px;

  /* background-color: aqua; */
}

.topo{
  display: flex;
  justify-content: space-between;

  font-family: 'Lexend Deca', sans-serif;
  font-size: 24px;
  color: var(--white);

  margin-top: 41px;
}

.busca{
  display: flex;
  flex-direction: row;
}


.busca input {
  position: absolute;
  width: 900px;
  height: 65px;

  top: 144px;
  
  font-family:'Inter', sans-serif;
  font-size: 18px;
  line-height: 22px;
  /* text-align: right; */
  color: var(--white);
  opacity: 0.5;
  

  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: none;
}

.busca input::placeholder{
  color: var(--white);
  padding-left: 64px;

}

.cards{
  display: flex;
  justify-content: center;
  margin-top: 100px;

  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;

}

.card{
  padding: 25px;
  margin-bottom: 50px;

  color: var(--text);

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(19, 19, 31, 0.05);

  background-color: var(--white);
}

.card-top{
  display: flex;
  justify-content: space-between;
}

.card-top i{
  color: var(--blue-dark);
}

.card-content{
  margin-top: 22px;
}

.card-content h1{
  margin-bottom: 8px;

  font-size: 26px;
  font-weight: normal;
  line-height: 32px;

  color: var(--title);

}
