/* font-family:'Inter', sans-serif; */
:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;

  --title: #313131;
  --text: #B6B6B6;
  
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F3F5F7;
}

header{
  display: flex;
  justify-content: center;
  /* align-items: center; */

  height: 250px;
  background: var(--linear)
}

.container{
  height: auto;
  width: 900px;

  padding: 0px 5px 0px 5px;


  /* background-color: aqua; */
}

.topo{
  display: flex;
  justify-content: space-between;
  width: 100%;

  font-family: 'Lexend Deca', sans-serif;
  font-size: 24px;
  color: var(--white);

  margin-top: 41px;
}

.topo span a {
  text-decoration: none;
  color: var(--white);
}

.busca{
  display: flex;
  flex-direction: row;
  height: 179px;

  justify-content: center;
  align-items: center;
}

.busca input, .busca button{
  font-size: 18px;
  line-height: 22px;

  color: var(--white);
  opacity: 0.5;

  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.busca button{
  width: 64px;
  height: 65px;

  border-radius: 5px 0 0 5px;
}


.busca input {
  width: 100%;
  height: 65px;
  
  font-family:'Inter', sans-serif;
  border-radius: 0 5px 5px 0;

  outline: none;
}

.busca input::placeholder{
  color: var(--white);
}

.cards{
  display: flex;
  justify-content: center;
  margin-top: 100px;

  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
}

.cards a{
  text-decoration: none;

}

.card,.new{
  padding: 25px;
  margin-bottom: 50px;

  color: var(--text);

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(19, 19, 31, 0.05);

  background-color: var(--white);
}

.card-top{
  display: flex;
  justify-content: space-between;
}

.card-top i{
  color: var(--blue-dark);
}

.card-content,.new-content{
  margin-top: 22px;
}

.card-content h1{
  margin-bottom: 8px;

  font-size: 26px;
  font-weight: normal;
  line-height: 32px;

  color: var(--title);
}

.new-content h1{
  margin-bottom: 15px;

  font-size: 30px;
  font-weight: bold;
  line-height: 32px;

  /* text-align: center; */

  color: var(--title);
}

.new-content .new-data{
  margin-top: 10px;

  color: #000;
  text-align: justify;
}

.not-found{
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;

  margin-top: 50px;
}

.not-found img{
  height: 400px;
}

.no-news{
  text-align: center;
}

@media(max-width:760px){
  /* .topo{
    font-size: 24px;
    
  } */

  .container{
    padding: 0px 5px 0px 5px;
  }

  .card-content{
    font-size: 14px;
  }

  .card-content h1{
    font-size: 24px;
  }
}