{{>partials/header}}

    <main class="cards">
      <div class="container">
        <section class="card">
          <div class="card-top">
            <span>
              02 de jul, 2021
            </span> 
            <span>
              <i class="far fa-heart"></i>
            </span>
          </div>
          <div class="card-content">
            <h1>Agora é oficial: o Windows 11 está vindo</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error corporis a nobis, ut totam voluptates laborum omnis accusantium unde iste voluptatem illum porro veniam cum maiores esse, quis cumque! Illo.
            </p>
          </div>
        </section>

        <section class="card">
          <div class="card-top">
            <span>
              02 de jul, 2021
            </span> 
            <span>
              <i class="far fa-heart"></i>
            </span>
          </div>
          <div class="card-content">
            <h1>Agora é oficial: o Windows 11 está vindo</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error corporis a nobis, ut totam voluptates laborum omnis accusantium unde iste voluptatem illum porro veniam cum maiores esse, quis cumque! Illo.
            </p>
          </div>
        </section>
      </div>
    </main>
    
  </body>
</html>
