{{>partials/header}}

<main class="cards">
  <div class="container">
    {{#newData}}
    <section class="new">
      <div class="new-content">
        <h1>{{title}}</h1>
        <p>
          {{subtitle}}
        </p>

        {{{content}}}
      </div>
    </section>
    {{/newData}}
    
  </div>
</main>